@import url(/styles/remus.css);


div.text, div.header {
	margin-left:		1in;
}


.menuitem a {
	text-decoration:	none;
	color:			white;
	font-size:		12pt;
	padding-left:		10pt;
	padding-right:		10pt;
}

.menuitem a:hover {
	color:			black;
	background-color:	#10b0b0;
}

div.topmenu {
	background-color:	#10a0a0;
	padding:		5pt 5pt 5pt 5pt;
}
