prune .svn
include ChangeLog
include GPL
include remus.conf.default
include remus.tac
include www/index.rpy
include www/lang.rpy
include www/RemusPage.html
include www/images/sv.png
include www/images/en.png
include www/images/da.png
include www/images/valid_css.png
include www/images/valid_xhtml.png
include www/images/valid_wai-aaa.gif
include www/images/anybrowser.png
include www/scripts/menu.js
include styles/remus.css
include styles/toppages.css
include styles/menu.css
include po/sv.po
include po/sv.mo
