prune .svn
include ChangeLog
include GPL
include audiostore_resync
include configure
include configure.ac
include missing
include install-sh
include mkinstalldirs
include mmpython.patch
include Makefile.am
include Makefile.in
include Makefile
include setup.py.in
include db/Makefile.am
include db/Makefile.in
include db/Makefile
include db/audiostore.xml
include db/audiostore.sql
include db/
include www/music.rpy
include www/playlists.rpy
include po/Makefile.in.in
include po/Makefile.in
include po/Makefile
include po/POTFILES.in
include po/remus-audiostore.pot
include po/sv.po
include po/sv.mo
include styles/Makefile.am
include styles/Makefile.in
include styles/Makefile
include styles/README
include styles/index.html.xsl
include styles/param.xsl.in
include styles/param.xsl
include styles/l10n.xsl
include styles/l10n.xml
include styles/l10n.dtd
include styles/list.m3u.xsl
include styles/list.m3u.mime
include styles/remus.xsl
include styles/audiostore.css
include styles/sv.xml
include styles/en.xml
include styles/locale/sv.xml
include styles/locale/en.xml
include styles/xsl/xsl.xsl
include doc/COPYING-DOCS
include doc/Makefile.am
include doc/Makefile.in
include doc/Makefile
include doc/mk/omf.make
include doc/mk/xmldocs.make
include doc/xml/fdl-appendix.xml
include doc/xml/legal.xml
include doc/xml/project.ent.in
include doc/xml/project.ent
include doc/xsl/Makefile.am
include doc/xsl/Makefile.in
include doc/xsl/Makefile
include doc/xsl/fo/Makefile.am
include doc/xsl/fo/Makefile.in
include doc/xsl/fo/Makefile
include doc/xsl/fo/general-customization.xsl
include doc/xsl/fo/titlepage.templates.xml
include doc/xsl/fo/titlepage.templates.xsl
include doc/xsl/html/*
include doc/xsl/images/*
include doc/manual/Makefile.am
include doc/manual/Makefile.in
include doc/manual/Makefile
include doc/manual/C/Makefile.am
include doc/manual/C/Makefile.in
include doc/manual/C/Makefile
include doc/manual/C/db-audiostore.xml
include doc/manual/C/fdl-appendix.xml
include doc/manual/C/legal.xml
include doc/manual/C/manual.xml
include doc/manual/C/overview.xml
include doc/manual/C/preface.xml
include doc/manual/C/project.ent
include doc/manual/C/remus-audiostore-C.omf.in
include doc/manual/C/remus-audiostore-C.omf
include doc/manual/C/using.xml
include doc/manual/C/manual.html/*
include doc/manual/figures/*
