prune .svn
include ChangeLog
include GPL
include audiostore_resync
include configure
include configure.ac
include missing
include install-sh
include mkinstalldirs
include mmpython.patch
include Makefile.am
include Makefile.in
include Makefile
include setup.py.in
include db/audiostore.sql
include www/music.rpy
include www/playlists.rpy
include po/sv.po
include po/sv.mo
include styles/index.html.xsl
include styles/param.xsl
include styles/l10n.xsl
include styles/l10n.xml
include styles/l10n.dtd
include styles/list.m3u.xsl
include styles/list.m3u.mime
include styles/remus.xsl
include styles/audiostore.css
include styles/sv.xml
include styles/en.xml
