prune .svn
include ChangeLog
include configure
include configure.ac
include missing
include install-sh
include mkinstalldirs
include Makefile.am
include Makefile.in
include Makefile
include setup.py.in
include sqlml.make.in
include makesql.xsl
include makepython.xsl
include makedot.xsl
include makedoc.xsl
include example/Makefile
include example/test.py
include example/orderdb.xml
include example/populate.sql
