prune .svn
include ChangeLog
include GPL
include sql/audiostore.sql
include configure
include configure.ac
include missing
include install-sh
include mkinstalldirs
include Makefile.am
include Makefile.in
include Makefile
include setup.py.in
