@import url(/styles/menu.css);

body {
	font-family:		monospace;
}

.logo {
	font-family:		monospace;
	font-size:		24pt;
}

.navigation {
	margin-bottom:		0.5cm;
}

.generated {
	font-size:		6pt;
	font-family:		monospace;
}

.generated a {
	color:			black;
	text-decoration:	none;
}

div.text, div.header {
	margin-left:		1in;
}
